<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <script src="https://use.fontawesome.com/3f5f64bdb4.js"></script>
    <link rel='stylesheet' href='/stylesheets/app.css' />
    <script type="text/javascript" src="/javascripts/app.js"></script>
    <script>require('initialize.js')</script>
  </head>
  <body>
    {{{body}}}
  </body>
</html>
